{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
table{
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
table tr:nth-child(odd){
	background: #8DCBC8
}

table tr:nth-child(even){
	background: #D1EAE9
}

th {
  background-color: #1b9891;
  color: white;}

button {
  background-color:  white;
  border: 2px solid #555555;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;
}

</style>

<script src="{% static 'downloadAllDogs.js' %}"></script>

<br><h1 class="text-center">רשימת הכלבים</h1><br>
<body>
    <div class="jumbotron">
        <button class="button" onclick="exportData()">הורד ל-Excel</button><br>
    <table class="table" id="tbl">
        <thead>
            <tr>
                <th> שם הכלב (מס' מזהה) </th>
                <th> מספר שבב </th>
                <th> גיל </th>
                <th>מין  </th>
                <th> גודל </th>
                <th> תיאור חיצוני </th>
                <th> סירוס/עיקור </th>
                <th> תאריך כניסה לעמותה </th>
                <th> תאריך יציאה מעמותה </th>
                <th> מיקום </th>
                <th> תאריך אימוץ או אומנה </th>
                <th> שם המאמצ/ת או אומנה (ת"ז) </th>
                <th> נפטר/ה? </th>
                <th> תאריך הפטירה </th>
                <th> סיבת הפטירה </th>
            </tr>
        </thead>
            {% for dog in dogs %}
                        <tr>
                            <td><a href="../dog/{{dog.id}}"><div style="color: black; height:100%; width:100%">{{dog}}</div></a></td>
                            <td> {% if dog.chip_number %} {{ dog.chip_number }} {% else %} - {% endif %}</td>
                            <td> {% if dog.age_years == 0 and dog.age_months == 0  %} פחות מחודש {% else %} {{ dog.age_years }} שנים ו-{{ dog.age_months }} חודשים {% endif %}</td>
                            <td> {{dog.get_gender_display}}</td>
                            <td> {% if dog.size %} {{ dog.get_size_display }} {% else %} - {% endif %}</td>
                            <td> {% if dog.physical_description%}{{dog.physical_description}} {% else %} - {% endif %}</td>
                            <td> {% if dog.sterilization%}{{dog.sterilization}} {% else %} - {% endif %}</td>
                            <td> {{dog.acceptance_date }}</td>
                            <td> {% if dog.exit_date %} {{ dog.exit_date }} {% else %} - {% endif %}</td>
                            <td> {{dog.get_location_display}}</td>
                            {% if dog.location == "Adoption"%}
                                {% for adoption in dog_adoption %}
                                    {% if adoption.dog == dog %}
                                        <td> {{adoption.adoption_date}}</td>
                                        <td> {{adoption.adopter}}</td>
                                        {% endif %}{% endfor %}
                            {% elif dog.location == "Foster"%}
                                 {% for fostering in dog_fostering %}
                                        {% if fostering.dog == dog %}
                                            <td> {{fostering.fostering_date_start}}</td>
                                            <td> {{fostering.foster}}</td>
                                            {% endif %}{% endfor %}
                            {% else%}
                                <td>-</td>
                                <td>-</td>
                            {% endif %}
                            <td> {% if dog.died %} כן {% else %} - {% endif %}</td>
                            <td> {% if dog.death_date %} {{ dog.death_date }} {% else %} - {% endif %}</td>
                            <td> {% if dog.death_reason %} {{ dog.death_reason }} {% else %} - {% endif %}</td>
                        </tr>

            {% endfor %}
  </table>
</div>
</body>
{% endblock content %}

