{% extends 'base.html' %} {% block content %}
<style>

table{
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
table tr:nth-child(odd){
	background: #8DCBC8
}

table tr:nth-child(even){
	background: #D1EAE9
}

th {
  background-color: #1b9891;
  color: white;
}</style>

<br><h1 class="text-center"> רשימה שחורה <i class="fas fa-user-secret"></i></h1><br>

<div class="jumbotron">
    <table class="table">
        <thead>
        <tr>
            {% for key, header in headers.items %}
                <th scope="col">{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for index, row in df.iterrows %}
            <tr>
                {% for cell in row %}
                    <td>
                        {% if forloop.first %}
                         <a href="../edit_black_list/{{cell}}"><div style="color: black; height:100%; width:100%"> {{ cell }} </div></a>
                        {%else%}
                            {{ cell }}
                        {%endif%}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table><br>
</div>
{% endblock content %}