{% extends 'base.html' %} {% block content %}

<div class="container" dir="rtl">
  <div class="row">
    <div class="col-md-7 mt-5">
      <img
        src="{{ dog.image.url }}"
        class="mx-auto d-block"
        style="height: 40rem; width: 35rem;"
        alt="{{ dog.image.url }}"
      />
    </div>
    <div class="col-md-3 mt-5 ml-2">
      <section class="row">
        <h5 class="mt-5 display-4" style="color: #1b9891;">
        {{ dog.name }} {% if dog.gender == 'Male' %}
        <i class="fas fa-mars" style="color: #0275d8;"></i>
        {% elif dog.gender == 'Female' %}
        <i class="fas fa-venus" style="color: #d9534f;"></i>
        {% endif %}
        </h5>
      </section>
      <section class="row">
      <div> {{ dog.description }} </div>
      </section>
      <section class="row">
      <div> <span style="color: #1b9891; font-weight: bold;"> גיל:</span> {{ dog.age_years }} שנים ו-{{ dog.age_months }} חודשים </div>
      </section>
      <section class="row">
      <div> <span style="color: #1b9891;font-weight: bold;">תאריך כניסה לעמותה:</span> {{ dog.acceptance_date }} </div>
      </section>
     <section class="row">
      <div> <span style="color: #1b9891;font-weight: bold;"> מספר שבב: </span> {{ dog.chip_number }} </div>
      </section>
       <section class="row">
      <div> <span style="color: #1b9891;font-weight: bold;"> עיקור/ סירוס: </span> {{ dog.sterilization }} </div>
      </section>
        <section class="row">
      <div> <span style="color: #1b9891;font-weight: bold;">עריכה/ מחיקה </span> <a href="/admin/shelter/dog/{{dog.id}}/change/"><div style="color: cadetblue; height:100%;width:100%"> קישור </div></a></div>
      </section>
    </div>
  </div>
</div>
{% endblock content %}
