{% extends 'base.html' %} {% block content %}

<style>a {color: black;}</style>
<style>span {color: #1b9891;font-weight: bold;}</style>

<div class="container" dir="rtl">
  <div class="row">
    <div class="col-7 mt-5">
      <img
        src="{{cat.image.url}}"
        class="mx-auto d-block"
        style="height: 25rem; width: 25rem;"
        alt="media/generic_cat.png"/>
    </div>
    <div class="col-5 mt-5">
      <div><a class="btn btn-outline-secondary" href="../{{cat.id}}/edit_cat"><i class="fas fa-edit fa-lg" style="color: secondary"></i> עריכה</a>
      <a class="btn btn-outline-secondary" href="../{{dog.id}}/edit_dog"><i class="fa fa-trash-o fa-lg" style="color: secondary"></i> מחיקה</a></div>
        <h1 class="text-right" style="color: #1b9891; font-size:50px" >
        {{ cat.name }} {% if cat.gender == 'Male' %}
        <i class="fas fa-mars" style="color: #0275d8;"></i>
        {% elif cat.gender == 'Female' %}
        <i class="fas fa-venus" style="color: #d9534f;"></i>
        {% endif %}
        </h1>
      <div id="accordion" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <div class="row">
            <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                פרטי החתול:
                </a>
            </h5>
          </div>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
              <div class="row"><div> <span> גיל:</span>{% if cat.age_years == 0 and cat.age_months == 0  %} פחות מחודש {% else %} {{cat.age_years }} שנים ו-{{cat.age_months }} חודשים {% endif %}</div></div>
              <div class="row"><div> <span> תיאור חיצוני: </span> {{ cat.physical_description }} </div></div>
              <div class="row"><div> <span> סיפור רקע: </span> {{ cat.story }} </div></div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
           <div class="row">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                פרטים לוגיסטיים:</a>
            </h5>
            </div>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-body">
              <section class="row"><div> <span> מיקום: </span> {{ cat.get_location_display }} </div></section>
              <section class="row"><div><span>תאריך כניסה לעמותה:</span>{{ cat.acceptance_date }}</div></section>
              <section class="row"><div><span>מספר ימים בעמותה:</span> {{ cat.days_in_the_association }}</div></section>
              <section class="row"><div> <span> תאריך יציאה מעמותה: </span>{% if cat.exit_date  %} {{ cat.exit_date }} {% else %} - {% endif %} </div></section>
            </div>
        </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
           <div class="row">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                פרטים רפואיים:</a>
            </h5>
            </div>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body">
              <section class="row"><div> <span> מרפאה וטרינרית: </span> {% if cat.clinic  %} {{ cat.clinic }} {% else %} טרם טופל {% endif %}</div></section>
              <section class="row"><div><span>פנקס חיסונים: </span>{% if cat.vaccine_book %} <a href='{{cat.vaccine_book_link.url}}'> יש </a>
              {% else %}טרם טופל</div>
              {% endif %}</section>
              <section class="row"><div> <span> חיסון מרובע: </span> {% if cat.square_vaccine  %} {{ dog.square_vaccine }} {% else %} טרם טופל {% endif %}</div></section>
              <section class="row"><div><span>  טיפול קרציות ופרעושים: </span> {% if cat.ticks_fleas_treatment is None %} טרם טופל
              {% else %} {{ cat.ticks_fleas_treatment }} <div><span> הבא: </span> {{ cat.next_ticks_fleas_treatment  }} </div> </div>
              {% endif %}</section>
              <section class="row"><div><span> עיקור/סירוס: </span>{% if cat.sterilization is None %} טרם טופל
              {% else %}<a href='{{cat.sterilization_link.url}}'> {{ cat.sterilization }} </a></div>
              {% endif %}</section>
              <div class="row"><div> <span> הערות רפואיות: </span> {{ cat.medical_comments }} </div></div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingFour">
           <div class="row">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                פרטי אימוץ והחזרה:</a>
            </h5>
            </div>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-body">
            <section class="row"><div> <span> ת"ז המאמצ/ת: </span> {% if cat_adoption.adopter.adopter_ID %} {{ cat_adoption.adopter.adopter_ID }} {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> שם המאמצ/ת: </span> {% if cat_adoption.adopter %} {{ cat_adoption.adopter }} {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> תאריך אימוץ: </span> {% if cat_adoption.adoption_date %} {{ cat_adoption.adoption_date }} {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> מסמך אימוץ: </span> {% if cat_adoption.adoption_form_link %} <a href='{{cat_adoption.adoption_form_link.url}}'> קישור </a>
            {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> תאריך החזרה: </span> {% if cat_adoption.return_date %} {{ cat_adoption.return_date }} {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> סיבת החזרה: </span> {% if cat_adoption.return_reason %} {{ cat_adoption.return_reason }} {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> מסמך וויתור: </span> {% if cat_adoption.waiver_document %} <a href='{{cat_adoption.waiver_document.url}}'> קישור </a>
            {% else %} - {% endif %}</div></section>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingFive">
           <div class="row">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                פרטי אומנה:</a>
            </h5>
            </div>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="card-body">
            <section class="row"><div> <span> ת"ז האומנה: </span> {% if cat_fostering.foster.foster_ID %} {{ cat_fostering.foster.foster_ID}} {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> שם האומנה: </span> {% if cat_fostering.foster %} {{ cat_fostering.foster }} {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> תאריך התחלת האומנה: </span> {% if cat_fostering.fostering_date_start %} {{cat_fostering.fostering_date_start }} {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> תאריך סיום האומנה: </span> {% if cat_fostering.fostering_date_end %} {{ cat_fostering.fostering_date_end}} {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> הערות האומנה: </span> {% if cat_fostering.fostering_comments%} {{ cat_fostering.fostering_comments }} {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> גורם מטפל בעמותה: </span> {% if cat_fostering.fostering_volunteer %} {{ cat_fostering.fostering_volunteer }} {% else %} - {% endif %}</div></section>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingSix">
           <div class="row">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                פרטי מוות:</a>
            </h5>
            </div>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="card-body">
            <section class="row"><div> <span> האם נפטר/ה: </span> {% if cat.died %} כן {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> תאריך הפטירה: </span> {% if cat.death_date %} {{ dog.death_date }} {% else %} - {% endif %}</div></section>
            <section class="row"><div> <span> סיבת הפטירה: </span> {% if cat.death_reason %} {{ dog.death_reason }} {% else %} - {% endif %}</div></section>
            </div>
        </div>
    </div>
    </div>
    </div>
  </div>
  </div>
</div>
{% endblock content %}

