{% extends 'base.html' %} {% block content %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/rango-jquery.js' %}"></script>

<style>
.container {
  height: 50px;
  position: relative;
  color: white;

}
.button {
  background-color: #1b9891;
  border: 2px solid #555555;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  border-radius: 12px;}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 122%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

     table{
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

    table tr:nth-child(odd){
	background: #8DCBC8

    }

    table tr:nth-child(even){
	background: #D1EAE9
    }

    th {
    background-color: #1b9891;
    color: white;
    }

    .table tr {
    cursor: pointer;
    }
    .table{
    background-color: #fff !important;
    }
    .hedding h1{
    color:#fff;
    font-size:25px;
    }
    .main-section{
    margin-top: 120px;
    }

   .hiddenRow {
      padding: 0 20px !important;
      background-color: #eeeeee;
      font-size: 17px;
    }
    .accordian-body span{
    color: #535353 !important;
    font-weight: bold;
    }

      #loader {
            border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

        .center1 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        .warning {
        color:white;
         font-size:24px;
    }

</style>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="custom.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function () {
$('.collapse').collapse
});
</script>



<body>

<div class="container">
  <div class="center">
        <form action="#" method="get">
        <br><br><input type="submit" class="button"  value="רענן תשובות חדשות" name="mybtn">

           <!--  <button type="submit">class="btn btn-info"  </button> -->
        </form>  </div>
</div>

<script>
const button = document.querySelector('input');
const paragraph = document.querySelector('p');

button.addEventListener('click', updateButton);

function updateButton() {
    button.value = 'עוד רגע...';
}
</script>


<div id="loader" class="center1"></div>

<script>
    document.onreadystatechange = function() {
    if (document.readyState === "interactive") {
        document.querySelector("body").style.visibility = "hidden";
        document.querySelector("#loader").style.visibility = "visible";
    } else {
        document.querySelector("#loader").style.display = "none";
        document.querySelector("body").style.visibility = "visible";
    }
};
</script>




<!--
<script>
    $(function(){
        $('form').on('submit', function(e){
            $('body').append('<div id="loader">Loading...</div>')
        });
    })
</script>

-->
<h1 class="text-center">שאלונים לטיפול</h1><br>

<div class="jumbotron">
<table class="table table-condensed table-hover" style="border-collapse:collapse;">
    <thead>
        <tr>
      {% for key, header in header_up_row.items %}
       <th scope="col">{{ header }}</th>
      {% endfor %}
        </tr>
    </thead>
    <tbody>
     {% for index, row in not_handled.iterrows %}
      {% if row.black_list_aux == 2%}
         {% with y=forloop.counter|stringformat:"s" %}
         {% with line_id="#demo"|add:y %}
            <tr data-toggle="collapse" data-target={{line_id}} class="accordion-toggle " style="background-color:rgba(154,77,79,0.99)">
                {% for cell in row %}
                {% if forloop.counter < 11%}
                <td>
                    {% if forloop.counter == 1%}
                     <div style="float: left"> <span class="bi bi-exclamation-circle warning" ></span></div>
                   <a href="../edit_response/{{cell}}"> <div style="color: black; height:100%; width:100%"> {{ cell }} </div></a>
                     {% elif forloop.counter == 10%}
                                 <p>
                                    {% if  row.normGrade  >= 1 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 2 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 3 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 4 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 5 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %}
                                  </p>
                    {% else%}
                    {{cell}}
                    {% endif%}
                  </td>
                {%endif%}
                {%endfor%}
                {%endwith%}
                {%endwith%}
            </tr>
     {%else%}
              {% with y=forloop.counter|stringformat:"s" %}
         {% with line_id="#demo"|add:y %}
            <tr data-toggle="collapse" data-target={{line_id}} class="accordion-toggle ">
                {% for cell in row %}
                {% if forloop.counter < 11%}
                <td>
                    {% if forloop.counter == 1%}
                    <!--<div class="row"><div><a href="../edit_response/{{cell}}"><i class="fas fa-edit fa-lg" style="color: #1b9891;"></i></a></div></div> -->
                  <!--  <button type="button" class="btn btn-primary info"><i class="icon-edit"></i> {{ cell }}</button> -->
                   <a href="../edit_response/{{cell}}"><div style="color: black; height:100%; width:100%"> {{ cell }} </div></a>

                   <!-- <a href="../edit_response/{{cell}}"><div style="color: mediumblue; height:100%; width:100%"> {{ cell }} </div></a> -->
                     {% elif forloop.counter == 10%}
                                 <p>
                                    {% if  row.normGrade  >= 1 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 2 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 3 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 4 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 5 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %}
                                  </p>
                    {% else%}
                    {{cell}}
                    {% endif%}
                  </td>
                {%endif%}
                {%endfor%}
                {%endwith%}
                {%endwith%}
            </tr>
     {%endif%}

          <tr>

           {% with x=forloop.counter|stringformat:"s" %}
           {% with line_collapse="demo"|add:x%}
            <td colspan="10" class="hiddenRow">
                <div class="accordian-body collapse" id={{line_collapse}}>
              <div class="card-body">
              <section class="row"><div> <span> טלפון: </span> {{ row.phone_num }} </div></section>
              <section class="row"><div><span>מייל:</span>{{ row.mail }}</div></section>
              <section class="row"><div><span>מצב משפחתי:</span> {{ row.maritalStatus }}</div></section>
              <section class="row"><div> <span> מספר ילדים: </span> {{ row.numChildren }} </div></section>
              <section class="row"><div> <span> חיות נוספות בגידול: </span> {{ row.otherPets }} </div></section>
              <section class="row"><div> <span> נסיון: </span> {{ row.experience }} </div></section>
              <section class="row"><div> <span> אלרגיות: </span> {{ row.allergies }} </div></section>
              <section class="row"><div> <span> דירה בבעלות: </span> {{ row.own_apartment }} </div></section>
              <section class="row"><div> <span> הסכמת בעל הדירה: </span> {{ row.rent_agreed }} </div></section>
              <section class="row"><div> <span> סוג המגורים: </span> {{ row.residenceType }} </div></section>
              <section class="row"><div> <span> יש גדר בגינה/מרפסת?: </span> {{ row.fence }} </div></section>
              <section class="row"><div> <span> היכן הכלב ישהה?: </span> {{ row.dogPlace }} </div></section>
              <section class="row"><div> <span> גודל כלב רצוי: </span> {{ row.dogSize }} </div></section>
              <section class="row"><div> <span> הערות מהשאלון: </span> {{ row.response_comments }} </div></section>
                </div>
                </div>
            </td>
           {%endwith%}
           {%endwith%}
         </tr>
            {%endfor%}
    </tbody>
</table>
</div>


<h1 class="text-center">שאלונים לאחר התקשרות</h1><br>

<div class="jumbotron">

<table class="table table-condensed table-hover" style="border-collapse:collapse;">
    <thead>
        <tr>
      {% for key, header in header_up_row.items %}
       <th scope="col">{{ header }}</th>
      {% endfor %}
        </tr>
    </thead>
    <tbody>
     {% for index, row in initial_contact.iterrows %}
      {% if row.black_list_aux == 2%}
         {% with y=forloop.counter|stringformat:"s" %}
         {% with line_id="#demo"|add:y %}
            <tr data-toggle="collapse" data-target={{line_id}} class="accordion-toggle " style="background-color:rgba(154,77,79,0.99)">
                {% for cell in row %}
                {% if forloop.counter < 11%}
                <td>
                    {% if forloop.counter == 1%}
                     <div style="float: left"> <span class="bi bi-exclamation-circle warning" ></span></div>
                   <a href="../edit_response/{{cell}}"> <div style="color: black; height:100%; width:100%"> {{ cell }} </div></a>
                     {% elif forloop.counter == 10%}
                                 <p>
                                    {% if  row.normGrade  >= 1 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 2 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 3 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 4 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 5 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %}
                                  </p>
                    {% else%}
                    {{cell}}
                    {% endif%}
                  </td>
                {%endif%}
                {%endfor%}
                {%endwith%}
                {%endwith%}
            </tr>
     {%else%}
              {% with y=forloop.counter|stringformat:"s" %}
         {% with line_id="#demo"|add:y %}
            <tr data-toggle="collapse" data-target={{line_id}} class="accordion-toggle ">
                {% for cell in row %}
                {% if forloop.counter < 11%}
                <td>
                    {% if forloop.counter == 1%}
                    <!--<div class="row"><div><a href="../edit_response/{{cell}}"><i class="fas fa-edit fa-lg" style="color: #1b9891;"></i></a></div></div> -->
                  <!--  <button type="button" class="btn btn-primary info"><i class="icon-edit"></i> {{ cell }}</button> -->
                   <a href="../edit_response/{{cell}}"><div style="color: black; height:100%; width:100%"> {{ cell }} </div></a>

                   <!-- <a href="../edit_response/{{cell}}"><div style="color: mediumblue; height:100%; width:100%"> {{ cell }} </div></a> -->
                     {% elif forloop.counter == 10%}
                                 <p>
                                    {% if  row.normGrade  >= 1 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 2 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 3 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 4 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 5 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %}
                                  </p>
                    {% else%}
                    {{cell}}
                    {% endif%}
                  </td>
                {%endif%}
                {%endfor%}
                {%endwith%}
                {%endwith%}
            </tr>
     {%endif%}

          <tr>

           {% with x1=forloop.counter|stringformat:"s" %}
           {% with line_collapse1="demo"|add:x1%}
            <td colspan="10" class="hiddenRow">
                <div class="accordian-body collapse" id={{line_collapse1}}>
              <div class="card-body">
              <section class="row"><div> <span> טלפון: </span> {{ row.phone_num }} </div></section>
              <section class="row"><div><span>מייל:</span>{{ row.mail }}</div></section>
              <section class="row"><div><span>מצב משפחתי:</span> {{ row.maritalStatus }}</div></section>
              <section class="row"><div> <span> מספר ילדים: </span> {{ row.numChildren }} </div></section>
              <section class="row"><div> <span> חיות נוספות בגידול: </span> {{ row.otherPets }} </div></section>
              <section class="row"><div> <span> נסיון: </span> {{ row.experience }} </div></section>
              <section class="row"><div> <span> אלרגיות: </span> {{ row.allergies }} </div></section>
              <section class="row"><div> <span> דירה בבעלות: </span> {{ row.own_apartment }} </div></section>
              <section class="row"><div> <span> הסכמת בעל הדירה: </span> {{ row.rent_agreed }} </div></section>
              <section class="row"><div> <span> סוג המגורים: </span> {{ row.residenceType }} </div></section>
              <section class="row"><div> <span> יש גדר בגינה/מרפסת?: </span> {{ row.fence }} </div></section>
              <section class="row"><div> <span> היכן הכלב ישהה?: </span> {{ row.dogPlace }} </div></section>
              <section class="row"><div> <span> גודל כלב רצוי: </span> {{ row.dogSize }} </div></section>
              <section class="row"><div> <span> הערות מהשאלון: </span> {{ row.response_comments }} </div></section>
                </div>
                </div>
            </td>
           {%endwith%}
           {%endwith%}
         </tr>
            {%endfor%}
    </tbody>
</table>
</div>

<h1 class="text-center">שאלונים מאושרים לאימוץ</h1><br>

<div class="jumbotron">

<table class="table table-condensed table-hover" style="border-collapse:collapse;">
    <thead>
        <tr>
      {% for key, header in header_up_row.items %}
       <th scope="col">{{ header }}</th>
      {% endfor %}
        </tr>
    </thead>
    <tbody>
     {% for index, row in adoption_approved.iterrows %}
      {% if row.black_list_aux == 2%}
         {% with y=forloop.counter|stringformat:"s" %}
         {% with line_id="#demo"|add:y %}
            <tr data-toggle="collapse" data-target={{line_id}} class="accordion-toggle " style="background-color:rgba(154,77,79,0.99)">
                {% for cell in row %}
                {% if forloop.counter < 11%}
                <td>
                    {% if forloop.counter == 1%}
                     <div style="float: left"> <span class="bi bi-exclamation-circle warning" ></span></div>
                   <a href="../edit_response/{{cell}}"> <div style="color: black; height:100%; width:100%"> {{ cell }} </div></a>
                     {% elif forloop.counter == 10%}
                                 <p>
                                    {% if  row.normGrade  >= 1 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 2 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 3 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 4 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 5 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %}
                                  </p>
                    {% else%}
                    {{cell}}
                    {% endif%}
                  </td>
                {%endif%}
                {%endfor%}
                {%endwith%}
                {%endwith%}
            </tr>
     {%else%}
              {% with y=forloop.counter|stringformat:"s" %}
         {% with line_id="#demo"|add:y %}
            <tr data-toggle="collapse" data-target={{line_id}} class="accordion-toggle ">
                {% for cell in row %}
                {% if forloop.counter < 11%}
                <td>
                    {% if forloop.counter == 1%}
                    <!--<div class="row"><div><a href="../edit_response/{{cell}}"><i class="fas fa-edit fa-lg" style="color: #1b9891;"></i></a></div></div> -->
                  <!--  <button type="button" class="btn btn-primary info"><i class="icon-edit"></i> {{ cell }}</button> -->
                   <a href="../edit_response/{{cell}}"><div style="color: black; height:100%; width:100%"> {{ cell }} </div></a>

                   <!-- <a href="../edit_response/{{cell}}"><div style="color: mediumblue; height:100%; width:100%"> {{ cell }} </div></a> -->
                     {% elif forloop.counter == 10%}
                                 <p>
                                    {% if  row.normGrade  >= 1 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 2 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 3 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 4 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %} {% if  row.normGrade  >= 5 %}
                                    <i class="fas fa-paw" style="color: yellow;"></i>
                                    {% else %}
                                    <i class="fas fa-paw"></i>
                                    {% endif %}
                                  </p>
                    {% else%}
                    {{cell}}
                    {% endif%}
                  </td>
                {%endif%}
                {%endfor%}
                {%endwith%}
                {%endwith%}
            </tr>
     {%endif%}

          <tr>

           {% with x2=forloop.counter|stringformat:"s" %}
           {% with line_collapse2="demo"|add:x2%}
            <td colspan="10" class="hiddenRow">
                <div class="accordian-body collapse" id={{line_collapse2}}>
              <div class="card-body">
              <section class="row"><div> <span> טלפון: </span> {{ row.phone_num }} </div></section>
              <section class="row"><div><span>מייל:</span>{{ row.mail }}</div></section>
              <section class="row"><div><span>מצב משפחתי:</span> {{ row.maritalStatus }}</div></section>
              <section class="row"><div> <span> מספר ילדים: </span> {{ row.numChildren }} </div></section>
              <section class="row"><div> <span> חיות נוספות בגידול: </span> {{ row.otherPets }} </div></section>
              <section class="row"><div> <span> נסיון: </span> {{ row.experience }} </div></section>
              <section class="row"><div> <span> אלרגיות: </span> {{ row.allergies }} </div></section>
              <section class="row"><div> <span> דירה בבעלות: </span> {{ row.own_apartment }} </div></section>
              <section class="row"><div> <span> הסכמת בעל הדירה: </span> {{ row.rent_agreed }} </div></section>
              <section class="row"><div> <span> סוג המגורים: </span> {{ row.residenceType }} </div></section>
              <section class="row"><div> <span> יש גדר בגינה/מרפסת?: </span> {{ row.fence }} </div></section>
              <section class="row"><div> <span> היכן הכלב ישהה?: </span> {{ row.dogPlace }} </div></section>
              <section class="row"><div> <span> גודל כלב רצוי: </span> {{ row.dogSize }} </div></section>
              <section class="row"><div> <span> הערות מהשאלון: </span> {{ row.response_comments }} </div></section>
                </div>
                </div>
            </td>
           {%endwith%}
           {%endwith%}
         </tr>
            {%endfor%}
    </tbody>
</table>
    </div>
{% endblock content %}

</body>



