{% extends 'base.html' %} {% block content %}

<a class="btn btn-primary" href="{{ request.get_full_path }}" role="button">refresh</a>

<style>

table{
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
table tr:nth-child(odd){
	background: #8DCBC8
}

table tr:nth-child(even){
	background: #D1EAE9
}

th {
  background-color: #1b9891;
  color: white;
}</style>

<h1 class="display-4 text-center">טבלת לא טופל</h1><br>

    <table class="table">
        <thead>
        <tr>
            {% for key, header in hebrew_headers_dict.items %}
                <th scope="col">{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for index, row in not_handled.iterrows %}
            <tr>
                {% for cell in row %}
               <td>
                    {% if forloop.last %}
                         <p>
                            {% if  row.normGrade  >= 1 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %} {% if  row.normGrade  >= 2 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %} {% if  row.normGrade  >= 3 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %} {% if  row.normGrade  >= 4 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %} {% if  row.normGrade  >= 5 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %}
                          </p>
                {%else%}
                        {{ cell }}
                {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

<h1 class="display-4 text-center">טבלת יצרו קשר</h1><br>

    <table class="table">
        <thead>
        <tr>
            {% for key, header in hebrew_headers_dict.items %}
            {% if forloop.last %}
                 <th scope="col" style="width:80%" >{{ header }}</th>
            {%else%}
                <th scope="col" style="width:80%">{{ header }}</th>
            {%endif%}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for index, row in initial_contact.iterrows %}
            <tr>
                {% for cell in row %}
                <td>
                    {% if forloop.last %}
                         <p>
                            {% if  row.normGrade  >= 1 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %} {% if  row.normGrade  >= 2 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %} {% if  row.normGrade  >= 3 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %} {% if  row.normGrade  >= 4 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %} {% if  row.normGrade  >= 5 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %}
                          </p>
                {%else%}
                        {{ cell }}
                {% endif %}
                    </td>

                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>



<h1 class="display-4 text-center">טבלת מאושרים לאימוץ</h1><br>


    <table class="table">
        <thead>
        <tr>
            {% for key, header in hebrew_headers_dict.items %}
                <th scope="col">{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for index, row in adoption_approved.iterrows %}
            <tr>
                {% for cell in row %}
               <td>
                    {% if forloop.last %}
                         <p>
                            {% if  row.normGrade  >= 1 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %} {% if  row.normGrade  >= 2 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %} {% if  row.normGrade  >= 3 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %} {% if  row.normGrade  >= 4 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %} {% if  row.normGrade  >= 5 %}
                            <i class="fas fa-paw" style="color: yellow;"></i>
                            {% else %}
                            <i class="fas fa-paw"></i>
                            {% endif %}
                          </p>
                {%else%}
                        {{ cell }}
                {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}