{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
table{
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
table tr:nth-child(odd){
	background: #8DCBC8
}

table tr:nth-child(even){
	background: #D1EAE9
}

th {
  background-color: #1b9891;
  color: white;
}
button {
  background-color:  white;
  border: 2px solid #555555;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;}

</style>

<script>
    function exportData(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("tbl_dogs_fostering");
    /* Declaring array variable */
    var rows =[];

      //iterate through rows of table
    for(var i=0,row; row = table.rows[i];i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
        column6 = row.cells[5].innerText;
        column7 = row.cells[6].innerText;
        column8 = row.cells[7].innerText;
        column9 = row.cells[8].innerText;
        column10 = row.cells[9].innerText;
;

    /* add a new records in the array */
        rows.push(
            [
                column1,
                column2,
                column3,
                column4,
                column5,
                column6,
                column7,
                column8,
                column9,
                column10
            ]
        );

        }
        csvContent = "data:text/csv; charset=utf-8,";

         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });

        //       create a hidden <a> DOM node and set its download attribute
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "All_Dogs_Fostering.csv");
        document.body.appendChild(link);
        link.click();
}


</script>

<br><h1 class="text-center">רשימת האומנות לכלבים</h1><br>
<body>
    <div class="jumbotron">
        <button class="button" onclick="exportData()">הורד ל-Excel</button><br>
    <table class="table" id="tbl_dogs_fostering">
        <thead>
            <tr>
                <th> מספר האומנה </th>
                <th> שם האומנה </th>
                <th> ת''ז האומנה </th>
                <th> עיר מגורים </th>
                <th> מס' טלפון </th>
                <th> שם הכלב (מס' מזהה) </th>
                <th>תאריך תחילת אומנה </th>
                <th> תאריך סיום האומנה </th>
                <th> הערות האומנה </th>
                <th> גורם מטפל בעמותה </th>
            </tr>
        </thead>
            {% for instance in dogs %}
            <tr>
                <td><a href="../dogfostering/{{instance.id}}/edit_dog_fostering" style="color: black; height:100%; width:100%"><div> {{instance.id}} </div></a></td>
                <td> {{instance.foster.name}}</td>
                <td> {{instance.foster.foster_ID}}</td>
                <td> {% if instance.foster.foster_city %}{{instance.foster.foster_city}} {% else %} - {% endif %}</td>
                <td> {% if instance.foster.phone_number %}{{instance.foster.phone_number}} {% else %} - {% endif %}</td>
                <td> {{instance.dog}}</td>
                <td> {{instance.fostering_date_start}}</td>
                <td> {% if instance.fostering_date_end %}{{instance.fostering_date_end}} {% else %} - {% endif %}</td>
                <td> {% if instance.fostering_comments %}{{instance.fostering_comments}} {% else %} - {% endif %}</td>
                <td> {% if instance.fostering_volunteer %}{{instance.fostering_volunteer}} {% else %} - {% endif %}</td>
            </tr>
                {% endfor %}
  </table>
</div>
</body>
{% endblock content %}
