{% extends 'base.html' %}
{% load class_name %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<style>
table{
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
table tr:nth-child(odd){
	background: #8DCBC8
}

table tr:nth-child(even){
	background: #D1EAE9
}

th {
  background-color: #1b9891;
  color: white;
}</style>


<h1 class="display-4 text-center">משפחות אומנה קיימות</h1><br>
<body><center>
    <div class="jumbotron">
    <table class="table">
        <thead>
            <tr>
                <th> ת''ז </th>
                <th> שם האומנה </th>
                <th> עיר מגורים </th>
                <th> מספר טלפון </th>
                <th> סטטוס פעילות </th>
                <th>גורם המטפל בעמותה </th>
            </tr>
        </thead>
            {% for instance in queryset %}
            <tr>
                <td> {{instance.foster_ID}}</td>
                <td> {{instance.name}}</td>
                <td> {{instance.foster_city}}</td>
                <td> {{instance.phone_number}}</td>
                <td> {{instance.activity_status }}</td>
                <td> {{instance.adopter_comments}}</td>
            </tr>
                {% endfor %}
  </table>
</div>
</center></body>
{% endblock content %}
