{% extends 'base.html' %}
{% block content %}

<style>
table{
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
table tr:nth-child(odd){
	background: #8DCBC8
}

table tr:nth-child(even){
	background: #D1EAE9
}

th {
  background-color: #1b9891;
  color: white;
}</style>


<h1 class="text-center">רשימת האומנות</h1><br>
<body><center>
    <div class="jumbotron">
    <h2 class="text-center">עבור כלבים</h2>
    <table class="table">
        <thead>
            <tr>
                <th> מספר האומנה </th>
                <th> שם האומנה </th>
                <th> ת''ז האומנה </th>
                <th> מס' מזהה של הכלב </th>
                <th> שם הכלב </th>
                <th>תאריך תחילת אומנה </th>
                <th> תאריך סיום האומנה </th>
                <th> הערות האומנה </th>
                <th> קישור לטופס האומנה </th>
                <th> קישור לטופס אומנה למטרת אימוץ </th>
            </tr>
        </thead>
            {% for instance in querysetdogs %}
            <tr>
                <td> {{instance.id}}</td>
                <td> {{instance.foster}}</td>
                <td> {{instance.foster.foster_ID}}</td>
                <td> {{instance.dog.id}}</td>
                <td> {{instance.dog.name }}</td>
                <td> {{instance.fostering_date_start}}</td>
                <td> {% if instance.fostering_date_end %}{{instance.fostering_date_end}} {% else %} - {% endif %}</td>
                <td> {% if instance.fostering_comments %}{{instance.fostering_comments}} {% else %} - {% endif %}</td>
                <td> {% if instance.fostering_link_text %}{{instance.fostering_link_text}} {% else %} - {% endif %}</td>
                <td> {% if instance.fostering_link_for_adoption_text %}{{instance.fostering_link_for_adoption_text}} {% else %} - {% endif %}</td>
            </tr>
                {% endfor %}
  </table>
  <h2 class="text-center">עבור חתולים</h2>
  <table class="table">
        <thead>
            <tr>
                <th> מספר האומנה </th>
                <th> שם האומנה </th>
                <th> ת''ז האומנה </th>
                <th> מס' מזהה של החתול </th>
                <th> שם החתול </th>
                <th>תאריך תחילת אומנה </th>
                <th> תאריך סיום האומנה </th>
                <th> הערות האומנה </th>
                <th> קישור לטופס האומנה </th>
                <th> קישור לטופס אומנה למטרת אימוץ </th>
            </tr>
        </thead>
            {% for instance in querysetcats %}
            <tr>
                <td> {{instance.id}}</td>
                <td> {{instance.foster}}</td>
                <td> {{instance.foster.foster_ID}}</td>
                <td> {{instance.cat.id}}</td>
                <td> {{instance.cat.name }}</td>
                <td> {{instance.fostering_date_start}}</td>
                <td> {% if instance.fostering_date_end %}{{instance.fostering_date_end}} {% else %} - {% endif %}</td>
                <td> {% if instance.fostering_comments %}{{instance.fostering_comments}} {% else %} - {% endif %}</td>
                <td> {% if instance.fostering_link_text %}{{instance.fostering_link_text}} {% else %} - {% endif %}</td>
                <td> {% if instance.fostering_link_for_adoption_text %}{{instance.fostering_link_for_adoption_text}} {% else %} - {% endif %}</td>
            </tr>
                {% endfor %}
  </table>

</div>
</center></body>
{% endblock content %}
