{% extends 'base.html' %}
{% block content %}

<style>
table{
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
table tr:nth-child(odd){
	background: #8DCBC8
}

table tr:nth-child(even){
	background: #D1EAE9
}

th {
  background-color: #1b9891;
  color: white;
}</style>



<h1 class="text-center">רשימת משפחות האומנה</h1><br>
<body><center>
    <div class="jumbotron">
    <table class="table">
        <thead>
            <tr>
                <th> ת''ז האומנה </th>
                <th> שם האומנה </th>
                <th> עיר המגורים </th>
                <th> מספר הטלפון </th>
                <th> סטטוס הפעילות </th>
                <th>גורם המטפל בעמותה </th>
            </tr>
        </thead>
            {% for instance in queryset %}
            <tr>
                <td><a href="../admin/shelter/foster/{{instance.id}}/change/"><div> {{instance.foster_ID}} </div></a></td>
                <td> {{instance.name}}</td>
                <td> {{instance.foster_city}}</td>
                <td> {% if instance.phone_number%}{{instance.phone_number}} {% else %} - {% endif %}</td>
                <td> {{instance.activity_status }}</td>
                <td> {% if instance.foster_comments %}{{instance.foster_comments}} {% else %} - {% endif %}</td>
            </tr>
                {% endfor %}
  </table>
</div>
</center></body>
{% endblock content %}
