{% extends 'base.html' %}
{% block content %}

{% load static %}

<style>
table{
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
table tr:nth-child(odd){
	background: #8DCBC8
}

table tr:nth-child(even){
	background: #D1EAE9
}

th {
  background-color: #1b9891;
  color: white;}

button {
  background-color:  white;
  border: 2px solid #555555;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;
}

</style>

<script src="{% static 'downloadFosters.js' %}"></script>

<br><h1 class="text-center">רשימת משפחות האומנה</h1><br>
<body>
    <div class="jumbotron">
    <button class="button" onclick="exportData()">הורד ל-Excel</button><br>
    <table class="table" id="tbl">
        <thead>
            <tr>
                <th> ת''ז האומנה </th>
                <th> שם האומנה </th>
                <th> עיר המגורים </th>
                <th> מספר הטלפון </th>
                <th> סטטוס הפעילות </th>
                <th>גורם המטפל בעמותה </th>
            </tr>
        </thead>
            {% for instance in fosters %}
            <tr>
                <td><a href="../admin/shelter/foster/{{instance.id}}/change/" style="color: black; height:100%; width:100%"><div> {{instance.foster_ID}} </div></a></td>
                <td> {{instance.name}}</td>
                <td> {{instance.foster_city}}</td>
                <td> {% if instance.phone_number%}{{instance.phone_number}} {% else %} - {% endif %}</td>
                <td> {{instance.get_activity_status_display }}</td>
                <td> {% if instance.foster_comments %}{{instance.foster_comments}} {% else %} - {% endif %}</td>
            </tr>
                {% endfor %}
  </table>
</div>
</body>
{% endblock content %}
