{% extends 'base.html' %}
{% load class_name %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<style>

table{
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
table tr:nth-child(odd){
	background: #8DCBC8
}

table tr:nth-child(even){
	background: #D1EAE9
}

th {
  background-color: #1b9891;
  color: white;
}</style>


<h1 class="display-4 text-center">דו"חות מערכת</h1><br>
 <div class="container-sm">
         <div class="col-4 mt-2">
        <form method='POST' action=''>
    {% csrf_token %} {{form}}
    <input type="submit" value="פלטר"/>
</form>
    </div>
</div>
<body><center>

    <a class="btn btn-outline-dark" role="button" href="{% url 'download_report' %}" >הורד כ-CSV</a>
    <div class="jumbotron">
    <table class="table">
        <thead>
            <tr>
                <th> שם החיה </th>
                <th> מספר שבב </th>
                <th> מין </th>
                <th> תאריך כניסה לעמותה</th>
                <th>תאריך הפטירה</th>
                <th>סיבת הפטירה</th>
            </tr>
        </thead>
            {% for instance in queryset %}
            <tr>
                <td> {{instance.name}}</td>
                <td> {{instance.chip_number}}</td>
                <td> {{instance.get_gender_display}}</td>
                <td> {{instance.acceptance_date}}</td>
                <td> {{instance.death_date }}</td>
                <td> {{instance.death_reason}}</td>
            </tr>
                {% endfor %}
<!--            {% for instance in cat_data %}-->
<!--            <tr>-->
<!--                <td> {{instance.fields.name}}</td>-->
<!--                <td> חתול </td>-->
<!--                <td> -&#45;&#45; </td>-->
<!--                <td> {{instance.fields.acceptance_date}}</td>-->
<!--                <td> {{instance.fields.days_in_the_association}}</td>-->
<!--            </tr>-->
<!--                {% endfor %}-->
  </table>
</div>
</center></body>



{% endblock content %}
