{% extends 'base.html' %}
{% load class_name %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<style>

table{
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}

/*Make alternating colors for the table rows*/
table tr:nth-child(odd){
	background: #8DCBC8
}

table tr:nth-child(even){
	background: #D1EAE9
}

th {
  background-color: #1b9891;
  color: white;
}</style>


<h1 class="display-4 text-center">דו"חות מערכת</h1><br>
 <div class="container-sm">
         <div class="col-4 mt-2">
        <form method='POST' action=''>
    {% csrf_token %} {{form}}
    <input type="submit" value="פלטר"/>
</form>
    </div>
</div>
<body><center>

    <a class="btn btn-outline-dark" role="button" href="{% url 'download_report' %}" >הורד כ-CSV</a>
    <div class="jumbotron">
    <table class="table">
        <thead>
            <tr>
                <th> שם החיה </th>
                <th> מספר שבב </th>
                <th> מין </th>
                <th> תאריך כניסה לעמותה</th>
                <th>תאריך הפטירה</th>
                <th>סיבת הפטירה</th>
            </tr>
        </thead>
            {% for instance in queryset %}
            <tr>
                <td> {{instance.name}}</td>
                <td> {{instance.chip_number}}</td>
                <td> {{instance.get_gender_display}}</td>
                <td> {{instance.acceptance_date}}</td>
                <td> {{instance.death_date }}</td>
                <td> {{instance.death_reason}}</td>
            </tr>
                {% endfor %}
<!--            {% for instance in cat_data %}-->
<!--            <tr>-->
<!--                <td> {{instance.fields.name}}</td>-->
<!--                <td> חתול </td>-->
<!--                <td> -&#45;&#45; </td>-->
<!--                <td> {{instance.fields.acceptance_date}}</td>-->
<!--                <td> {{instance.fields.days_in_the_association}}</td>-->
<!--            </tr>-->
<!--                {% endfor %}-->
  </table>
</div>
</center></body>



<!--<style>-->
<!--  .bd-placeholder-img {-->
<!--    font-size: 1.125rem;-->
<!--    text-anchor: middle;-->
<!--    -webkit-user-select: none;-->
<!--    -moz-user-select: none;-->
<!--    -ms-user-select: none;-->
<!--    user-select: none;-->
<!--  }-->

<!--  @media (min-width: 768px) {-->
<!--    .bd-placeholder-img-lg {-->
<!--      font-size: 3.5rem;-->
<!--    }-->
<!--  }-->
<!--</style>-->



<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <h1 class="text-info display-4 text-center">דו"חות מערכת</h1>-->
<!--      <p class="text-muted text-center mb-2">פלטר לפי טווח תאריכים</p>-->

<!--      <div class="jumbotron">-->
<!--    <div class="header">{{header}}</div>-->
<!--    <div class="row">-->
<!--      <div class="col-sm-2">-->
<!--            <form method='POST' action=''>-->
<!--                {{form|crispy}}-->
<!--                <input type="submit" value='Search'/>-->
<!--            </form>-->
<!--      </div>-->
<!--      <div class="col-sm-10">-->
<!--            <br>-->
<!--             <div class="display_table">-->
<!--                <table class='table'>-->
<!--                  <thead>-->
<!--                    <tr>-->
<!--                      <th>NAME</th>-->
<!--                      <th>CHIP NUM</th>-->
<!--                      <th>AGE</th>-->
<!--                      <th>DAYS_IN_ASOCC</th>-->
<!--                    </tr>-->
<!--                  </thead>-->
<!--                {% for instance in queryset %}-->
<!--                    <tr>-->

<!--                      <td>{{forloop.counter}}</td>-->
<!--                      <td>{{instance.id}}</td>-->
<!--                      <td>{{instance.category}}</td>-->
<!--                      <td>{{instance.item_name}}</td>-->
<!--                      <td>{{instance.quantity}}</td>-->
<!--                      <td>{{instance.issue_quantity}}</td>-->
<!--                      <td>{{instance.receive_quantity}}</td>-->
<!--                      <td>{{instance.receive_by}}</td>-->
<!--                      <td>{{instance.issue_by}}</td>-->
<!--                      <td>{{instance.last_updated}}</td>-->
<!--                    </tr>-->
<!--                {% endfor %}-->
<!--              </table>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash;END COL-SM-10&ndash;&gt;-->
<!--    </div>&lt;!&ndash;END ROW&ndash;&gt;-->

<!--  </div>-->

<!--      <div/>-->
<!--    <div/>-->
<!--  <div/>-->

{% endblock content %}
