{% extends 'base.html' %}
{% load class_name %}
{% block content %}


 <style>
.card-body-custom {
  background-color: #1b9891;}
.swiper-pagination-custom {
  color: #1b9891;
}

</style>


<div class="swiper-button-next text-info "></div>
<div class="swiper-button-prev text-info"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br><h1 class="text-center">חיפוש</h1>
      <p class="text-muted text-center mb-2">חפשו לפי שם, סוג, מספר שבב או עיר</p>
      <form class="mr-5 ml-5">
        <div class="input-group mb-3">
          <input
            type="search"
            class="form-control"
            placeholder="מצא את החבר החדש שלך..."
            name="q"
          />
          <div class="input-group-prepend">
            <button type="submit" class="btn btn-secondary">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% if search_query %}
  <div class="row">
    <div class="col-md-6">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
     {%if shelter%}
      {% for animal in shelter %}
         {% with animal|class_name as klass %}
          {% if klass == 'Dog' %}
        <div class="swiper-slide">
            <a href="../dog/{{animal.id}}">
              <div class="card" >
                <img
                  src="/images/media/generic_dog.png"
                  class="card-img-top"
                  alt="..."
                  style="height: 10rem;"
                />
                <div class="card-body-custom">
                  <br><h5 class="card-title text-light text-center">
                    {{ animal.name }} <i class="fas fa-dog"></i>
                  </h5>
                  <p class="card-text text-center">
                    <small class="text-light"
                      > תאריך כניסה לעמותה: {{ animal.acceptance_date }}
                    </small><br>
                  </p>
                </div>
              </div>
            </a>
        </div>

        {% elif klass == 'Cat' %}
              <div class="swiper-slide">
                <a href="../cat/{{animal.id}}">
                 <div class="card">
                 <img
                  src="/images/media/generic_cat.png"
                  class="card-img-top"
                  alt="..."
                  style="height: 10rem;"
                    />
                <div class="card-body-custom">
                  <h5 class="card-title text-light text-center">
                    {{ animal.name }} <i class="fas fa-cat"></i>
                  </h5>
                  <p class="card-text text-center">
                    <small class="text-light"
                      >תאריך כניסה לעמותה: {{ animal.acceptance_date }}
                    </small>
                  </p>
                </div>
              </div>
            </a>
          </div>
        {% endif %}
        {% endwith %}

 <!-- Slides -->

          {% endfor %}
          {%else%}
          <h4 class="text-center" style="color: black">מצטערים, לא מצאנו בע"ח מתאים לחיפוש... </h4>
          {%endif%}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}
